# Log files

*.map
*.mrp
*.xrpt
*.csv
*.txt
*.bit
*.bin
*.ncd
*.ngc
*.ngd
*.bgn
*.bld
*.cmd_log
*.lso
*.drc
*.ndg
*.ngr
*.pad
*.par
*.ptwx
*.prj
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xst
*.xml
*.xwbt
*.ngm
*.ndg
*.pcf
*.stx
*.ut
*.log
*.html


# Log folders

xst
netgen
xlnx_auto_0_xdb
_ngo

# Other

*.xmsgs
!pn_parser.xmsgs
